@import "src/scss/variables";
a {
    cursor: pointer;
    color: $default_white;
    text-decoration: none;
}

img {
    height: 100px;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
}

p.content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
    img {
        width: 100%;
    }
}