<!-- <mat-card-header>
    <mat-card-title>
        <a [routerLink]="['/post', post.id]">
      {{ post.titlePost }}
    </a>
    </mat-card-title>

    <img [src]="post.imagePost" [routerLink]="['/post', post.id]" />

</mat-card-header> -->


<!-- <div class="card bg-dark text-white" [routerLink]="['/post', post.id]">
    <img [src]="post.imagePost" [routerLink]="['/post', post.id]" />
    <div class="card-img-overlay">
        <h5 class="card-title" [routerLink]="['/post', post.id]"> {{ post.titlePost }}</h5>
    </div>
</div> -->
<div class="card bg-dark text-white" [routerLink]="['/post', curso.id]">
    <img [src]="curso.imagen" [routerLink]="['/post', curso.id]" />
    <div class="card-img-overlay">
        <h5 class="card-title" [routerLink]="['/post', curso.id]"> {{ curso.nombre }}</h5>
    </div>
</div>



<!-- matCardImage -->
<!-- <img [src]="post.imagePost" [routerLink]="['/post', post.id]" /> -->
<!-- <mat-card-content>
    <p class="content">
        {{ post.contentPost }}
    </p>
</mat-card-content>
<mat-divider></mat-divider> -->
<!-- <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor> -->

<!-- <angular-editor formControlName="contentPost" [config]="config"></angular-editor> -->
<!-- <mat-card-actions>
    <mat-chip-list>
        <mat-chip *ngFor="let tag of post.tagsPost" [ngClass]="tag">
            {{ tag }}
        </mat-chip>

    </mat-chip-list>
</mat-card-actions> -->
<!-- <div class="html">
    {{ htmlContent }}
</div> -->