@import "src/scss/variables";
@import "src/scss/helpers";
.container {
    cursor: pointer;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4,24%);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-content: center;
    .post-card {
      &:hover {
        opacity: 0.8;
      }
      margin-right: 40px;
      background: $card_background;
      color: $default_white;
      border-radius: 5px;
      padding: 5px;
      font-size: 100%;
    }
  }

a {
    cursor: pointer;
    color: $default_white;
    text-decoration: none;
}

.card-img-overlay {
    position: relative;
}
img {
    height: 100px;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
}

p.content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
    img {
        width: 100%;
    }
    .card-img-overlay {
        position: relative;
    }
    .container {
        cursor: pointer;
        margin-top: 5px;
        margin-right: 40px;
        display: grid;
        grid-template-columns: repeat(1,85%);
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        justify-content: center;
        .post-card {
          &:hover {
            opacity: 0.8;
          }
      
          background: $card_background;
          color: $default_white;
          border-radius: 5px;
          padding: 20px;
          font-size: 150%;
        }
      }
}