@import "src/scss/variables";

.container {
  cursor: pointer;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4,24%);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  justify-content: center;
  .post-card {
    &:hover {
      opacity: 0.8;
    }

    background: $card_background;
    color: $default_white;
    border-radius: 5px;
    padding: 5px;
    font-size: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
      width: 100%;
  }
  img {
      width: 100%;
  }
  .container {
      cursor: pointer;
      margin-top: 5px;
      display: grid;
      grid-template-columns: repeat(1,88%);
      grid-column-gap: 10px;
      grid-row-gap: 15px;
      justify-content: center;
      margin-right: 40px !important;
      .post-card {
        &:hover {
          opacity: 0.8;
        }
        margin-right: 40px;
        background: $card_background;
        color: $default_white;
        border-radius: 5px;
        padding: 1px;
        font-size: 100%;
      }
    }
}